@model IEnumerable<_0524FirstMVC.ViewModels.CityCountViewModel>
@{
    ViewData["Title"] = "CityList";
    string jsonCityCount=SerializeObject(Model);
}
<h1>CityList</h1>

<canvas id="peiChart"></canvas>
<table class= "table">
    <thead>
        <tr>

        </tr>
    </thead>
</table>
<script>
    var cityData=@Html.Raw(jsonCityCount);
    var cityArray=cityData.map(c=>c.c)
</script>

@section topCSS{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
@section endJS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
