body{
    display: flex;
    justify-content: center;
    
}

.bigsquare {
    width: 400px;
    border: solid black 3px;
    padding: 10px;
    box-sizing: border-box;
}

.bigrectangle {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    margin: auto;
}

.mdrectangle {
    display: flex;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid black;
    height: 50px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more{
    display: flex;
    justify-content: center;
}

.smrectangle {
    margin: 10px;
    height: 50px;
    width: 100px;
}
#replay{
    background-color: rgb(0, 157, 255);
}
.check{
    background-color: rgb(0, 255, 81);
}
.cancle{
    background-color: rgb(158, 0, 0);
}